body {
    font-family: 'WeblySleek UI', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    color: #4c5667;
    font-size: 15px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar-custom .navbar-nav li a {
    color: #858585;
    font-size: 12px;
    margin: 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.sticky-wrapper {
    position: absolute;
    width: 100%;
    z-index:9;
    top:0;
}
.home {
    position: relative;
    background-color: #ededed;
}
.home-wrapper{width:100%;}
.zzh{background-color:white;width:100%;
margin-bottom:0;padding:16px 0;}
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.home {
    position: relative;
    background-color: #ededed;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

    .home-wrapper {
        color: #374760;
        padding: 200px 0px 150px 0px;
    }
h2 {
    font-size: 30px;
}
.home-wrapper p {
    line-height: 24px;
    margin: 30px auto 40px auto;
    font-size: 16px;
    width: 65%;
}
.btn-shadow.btn-primary {
    box-shadow: 1px 5px 9px rgba(170, 129, 243, 0.32);
}
.btn-primary {
    border: 1px solid #aa81f3 !important;
    background-color: #aa81f3 !important;
}
.btn {
    border-radius: 2px;
    padding: 8px 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    outline: none !important;
}
/*////////////////////////////////////////////*/
.section {
    padding-top: 100px;
    padding-bottom: 80px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title-box h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.col-md-8{position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.title-box .title-line {
    margin: 20px auto 20px auto;
    width: 50px;
    height: 3px;
}
.title-box .title-line {
    background-color: #aa81f3 !important;
}
.title-box-left .title-line {
    margin-left: 0px;
}
.h4,h4{    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;}
.l-h-24 {
    line-height: 24px;
}
.services-one i {
    font-size: 36px;
    margin-bottom: 20px;
    display: block;
    color:#aa81f3;
}
.thumb-img {
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.col-sm-4{    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;}
.preview-name {
    letter-spacing: 0.03em;
    float: left;
    color: #444444;
    margin-top: 10px;
    font-family: '微软雅黑';
    margin-bottom: 30px;
    font-weight:700;
}
.bg-gray {
    background-color: #f2f2f2;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}
.preview-name:hover {
    color: #666666;
    text-decoration: none;
}
.form-main {
    padding-top: 30px;
    margin-bottom: 50px;
}
#ajaxsuccess,  .error{display:none;}
.footer ul li a {
    width: 42px;
    height: 42px;
    display: block;
    background-color: #f2f2f2;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 0.5s;
    line-height:42px;
}
a {

    text-decoration: none !important;
    color: #4c5667;
    transition: all 0.3s;
}
.footer ul {
    padding-bottom: 50px;
}
.text-muted {
    color: #97a0af;
}